RH_CHAIN_ID=46630
RH_RPC_URL=https://rpc.testnet.chain.robinhood.com
RH_EXPLORER_URL=https://explorer.testnet.chain.robinhood.com
RH_TOKEN_ADDRESS=0x0000000000000000000000000000000000000000
PREDICT_CONTRACT=
ORACLE_CONTRACT=
TREASURY=
KEEPER_PRIVATE_KEY=
NEXT_PUBLIC_DEMO=1
NEXT_PUBLIC_RH_CHAIN_ID=46630
NEXT_PUBLIC_RH_RPC_URL=https://rpc.testnet.chain.robinhood.com
NEXT_PUBLIC_RH_EXPLORER_URL=https://explorer.testnet.chain.robinhood.com
NEXT_PUBLIC_RH_TOKEN_ADDRESS=0x0000000000000000000000000000000000000000
NEXT_PUBLIC_PREDICT_CONTRACT=
